
.alpq-accordion{
height: 100%;
position: relative;
}

.alpq-accordion-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend .alpq-padding-top-bottom-l;
  height: 100%; 
  border-top: var(--alpq-borderwidth) solid var(--alpq-color-background);
  border-bottom: var(--alpq-borderwidth) solid var(--alpq-color-background);
  transition: $transition;
  cursor: pointer;

  & > * {
    @extend .alpq-padding-left-right-m;
  }

  &:hover{
    background-color: var(--alpq-color-highlight);
  }
}

.alpq-accordion-title{
  pointer-events: none;
}

.alpq-accordion-icon{
  background-color: var(--alpq-color-contrast);
  border-radius: 50px;
  height: 24px;
  width: 24px;
}

.alpq-accordion-content{
  max-height: 0;
  overflow: auto;
  opacity: 0;
  padding: 0;
  transition: var(--alpq-transition);
}

.alpq-accordion--open{
  max-height: 2000px;
  opacity: 1;
  transition: var(--alpq-transition);
  padding: var(--alpq-space-m); 
}

.alpq-accordion-line{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch; 
  align-self: stretch;
  position: absolute;
  margin-left: 22px;
  margin-top: 0px;
  top: 37px;
  height: 100%;
  width: 2px;
  z-index: 1;
  opacity: 0.2;
}