.alpq-bgShadow {
    box-shadow: var(--alpq-shadow-s) !important;
}

.alpq-bgColor-primary {
    background-color: var(--alpq-color-primary) !important;
}

.alpq-bgColor-secondary {
    background-color: var(--alpq-color-secondary) !important;
}

.alpq-bgColor-success {
    background-color: var(--alpq-color-success) !important;
}

.alpq-bgColor-error {
    background-color: var(--alpq-color-error )!important;
}

.alpq-bgColor-warning {
    background-color: var(--alpq-color-warning) !important;
}

.alpq-bgColor-info {
    background-color: var(--alpq-color-link) !important;
}

.alpq-bgColor-inactive {
    background-color: var(--alpq-color-inactive) !important;
}

.alpq-bgColor-contrast {
    background-color: var(--alpq-color-contrast) !important;
}

.alpq-bgColor-background {
    background-color: var(--alpq-color-background) !important;
}

.alpq-bgColor-highlight {
    background-color: var(--alpq-color-highlight) !important;
}

.alpq-bgColor-gray {
    background-color: var(--alpq-color-h4) !important;
}

.alpq-bgColor-helper {
    background-color: var(--alpq-color-helper) !important;
}