.alpq-breadcrumbs{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: var(--alpq-color-H4);
    justify-content: flex-start;
}

.alpq-breadcrumbs > li{
    margin-right: 16px; 
}

.alpq-breadcrumbs > li > a{
    margin-right: 16px; 
}

.alpq-breadcrumbs > li > i{
    height: 10px;
}