.alpq-btn-primary {
    @extend .alpq-textColor-contrast;
    background-color: var(--alpq-button-primary);
    @extend .alpq-borderRadius;
    @extend .alpq-padding-left-right-m;
    @extend .alpq-textSize-p;
    border: 0;
    height: 44px;
    min-width: 160px;
    transition: var(--alpq-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: var(--alpq-button-primary-hover);
        transition: var(--alpq-transition);
    }
    &:active {
        background-color: var(--alpq-color-primary)!important;
    }
    &:disabled {
        @extend .alpq-bgColor-inactive;
        @extend .alpq-textColor-gray;
        border: 0;
        height: var(--alpq-space-xxxl);
        min-width: 160px;
        cursor: default;
    }
}

.alpq-btn-primary > svg {
    margin-right: var(--alpq-space-m);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

.alpq-btn-primary>img {
    margin-right: var(--alpq-space-s);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

.alpq-btn-secondary {
    @extend .alpq-textColor-primary;
    @extend .alpq-borderColor-helper;
    @extend .alpq-borderRadius;
    @extend .alpq-padding-left-right-m;
    @extend .alpq-textSize-p;
    height: var(--alpq-space-xxxl);
    min-width: 160px;
    transition: var(--alpq-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--alpq-color-contrast);
    cursor: pointer;
    &:hover {
        @extend .alpq-bgColor-primary;
        @extend .alpq-textColor-secondary;
        transition: var(--alpq-transition);
    }
    &:active {
        background-color: var(--alpq-color-contrast) !important;
        @extend .alpq-borderColor-primary;
        color: var(--alpq-color-primary) !important;
    }
    &:disabled {
        @extend .alpq-bgColor-inactive;
        @extend .alpq-textColor-gray;
        border: 0;
        height: var(--alpq-space-xxxl);
        min-width: 160px;
        cursor: default;
    }
}

.alpq-btn-secondary>svg {
    margin-right: var(--alpq-space-m);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

.alpq-btn-secondary>img {
    margin-right: var(--alpq-space-s);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

.alpq-btn-text {
    @extend .alpq-textColor-primary;
    @extend .alpq-bgColor-contrast;
    @extend .alpq-borderRadius;
    @extend .alpq-padding-left-right-m;
    @extend .alpq-textSize-p;
    border: 0;
    height: var(--alpq-space-xxxl);
    min-width: 160px;
    transition: var(--alpq-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        @extend .alpq-bgColor-highlight;
        transition: var(--alpq-transition);
    }
    &:active {
        background-color: var(--alpq-color-contrast) !important;
        color: var(--alpq-color-primary) !important;
    }
    &:disabled {
        @extend .alpq-bgColor-inactive;
        @extend .alpq-textColor-gray;
        border: 0;
        height: var(--alpq-space-xxxl);
        min-width: 160px;
        cursor: default;
    }
}

.alpq-btn-text>svg {
    margin-right: var(--alpq-space-m);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

.alpq-btn-text>img {
    margin-right: var(--alpq-space-s);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

button:focus {
    outline-offset: -2px;
}

.alpq-btn-error {
    @extend .alpq-textColor-contrast;
    @extend .alpq-bgColor-error;
    @extend .alpq-borderRadius;
    @extend .alpq-padding-left-right-m;
    @extend .alpq-textSize-p;
    cursor: pointer;
    border: 0;
    height: var(--alpq-space-xxxl);
    min-width: 160px;
    transition: var(--alpq-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        @extend .alpq-bgColor-error;
        filter: brightness(1.2);
        transition: var(--alpq-transition);
    }
    &:active {
        background-color: var(--alpq-color-error)!important;
    }
    &:disabled {
        @extend .alpq-bgColor-inactive;
        @extend .alpq-textColor-gray;
        border: 0;
        height: var(--alpq-space-xxxl);
        min-width: 160px;
        cursor: default;
    }
}

.alpq-btn-error>svg {
    margin-right: var(--alpq-space-m);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

.alpq-btn-success {
    @extend .alpq-textColor-contrast;
    @extend .alpq-bgColor-success;
    @extend .alpq-borderRadius;
    @extend .alpq-padding-left-right-m;
    @extend .alpq-textSize-p;
    cursor: pointer;
    border: 0;
    height: var(--alpq-space-xxxl);
    min-width: 160px;
    transition: var(--alpq-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        @extend .alpq-bgColor-success;
        filter: brightness(1.2);
        transition: var(--alpq-transition);
    }
    &:active {
        background-color: var(--alpq-color-success)!important;
    }
    &:disabled {
        @extend .alpq-bgColor-inactive;
        @extend .alpq-textColor-gray;
        border: 0;
        height: var(--alpq-space-xxxl);
        min-width: 160px;
        cursor: default;
    }
}

.alpq-btn-success>svg {
    margin-right: var(--alpq-space-m);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

.alpq-btn-warning {
    @extend .alpq-textColor-contrast;
    @extend .alpq-bgColor-secondary;
    @extend .alpq-borderRadius;
    @extend .alpq-padding-left-right-m;
    @extend .alpq-textSize-p;
    cursor: pointer;
    border: 0;
    height: var(--alpq-space-xxxl);
    min-width: 160px;
    transition: var(--alpq-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        @extend .alpq-bgColor-secondary;
        filter: brightness(1.2);
        transition: var(--alpq-transition);
    }
    &:active {
        background-color: var(--alpq-color-secondary)!important;
    }
    &:disabled {
        @extend .alpq-bgColor-inactive;
        @extend .alpq-textColor-gray;
        border: 0;
        height: var(--alpq-space-xxxl);
        min-width: 160px;
        cursor: default;
    }
}

.alpq-btn-warning>svg {
    margin-right: var(--alpq-space-m);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}


.alpq-btn-secondary-small {
    @extend .alpq-textColor-primary;
    @extend .alpq-borderColor-helper;
    @extend .alpq-borderRadius;
    @extend .alpq-padding-left-right-m;
    @extend .alpq-textSize-p;
    height: var(--alpq-space-xl);
    min-width: 80px;
    transition: var(--alpq-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--alpq-color-contrast);
    cursor: pointer;
    &:hover {
        @extend .alpq-bgColor-primary;
        @extend .alpq-textColor-secondary;
        transition: var(--alpq-transition);
    }
    &:active {
        background-color: var(--alpq-color-contrast) !important;
        @extend .alpq-borderColor-primary;
        color: var(--alpq-color-primary) !important;
    }
    &:disabled {
        @extend .alpq-bgColor-inactive;
        @extend .alpq-textColor-gray;
        border: 0;
        height: var(--alpq-space-xxxl);
        min-width: 160px;
        cursor: default;
    }
}

.alpq-btn-secondary-small>svg {
    margin-right: var(--alpq-space-m);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

.alpq-btn-secondary-small>img {
    margin-right: var(--alpq-space-s);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

.alpq-btn-primary-small {
    @extend .alpq-textColor-contrast;
    background-color: var(--alpq-button-primary);
    @extend .alpq-borderRadius;
    @extend .alpq-padding-left-right-m;
    @extend .alpq-textSize-p;
    border: 0;
    height: 32px;
    min-width: 80px;
    transition: var(--alpq-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: var(--alpq-button-primary-hover);
        transition: var(--alpq-transition);
    }
    &:active {
        background-color: var(--alpq-color-primary)!important;
    }
    &:disabled {
        @extend .alpq-bgColor-inactive;
        @extend .alpq-textColor-gray;
        border: 0;
        height: var(--alpq-space-xxxl);
        min-width: 160px;
        cursor: default;
    }
}

.alpq-btn-primary-small > svg {
    margin-right: var(--alpq-space-m);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}

.alpq-btn-primary-small>img {
    margin-right: var(--alpq-space-s);
    height: var(--alpq-space-m);
    width: var(--alpq-space-m);
}
