.alpq-page-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  
  }
  
.alpq-footer {
    right: 0;
    bottom: 0;
    left: 0;
    height: 32px;
    width: 100%;
    background-color: var(--alpq-color-contrast);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}