

.alpq-hero-image-container{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alpq-hero-image{
    width: 100%;
    background-image: url("pictures/bg.jpg");
    height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.alpq-hero-image-container::before{
    content: "";
    position: absolute;
    background-color: var(--alpq--color-blueopacity);
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.alpq-hero-title{
text-align: center;
color: var(--alpq-color-contrast);
position: absolute;
display: flex;
flex-direction: column;
margin: 0 16px 0 16px;
}