.alpq-loader-container {
	position: absolute;
	top: 100px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
    background-color: var(--alpq-color-background);
    opacity: 1;
    transition: var(--alpq-transition);
	z-index: 100;
	background-color: #ffffff;
}

.alpq-loader {
	max-width: 15rem;
	width: 100%;
	height: auto;
	stroke-linecap: round;
}

circle {
	fill: none;
	stroke-width: 3.5;
	animation-name: preloader;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform-origin: 170px 170px;
	will-change: transform;

	&:nth-of-type(1) {
		stroke-dasharray: 550px;
	}

	&:nth-of-type(2) {
		stroke-dasharray: 500px;
	}

	&:nth-of-type(3) {
		stroke-dasharray: 450px;
	}

	&:nth-of-type(4) {
		stroke-dasharray: 300px;
	}

	@for $i from 1 through 4 {
		&:nth-of-type(#{$i}) {
			animation-delay: -#{$i * 0.15}s;
		}
	}
}

@keyframes preloader {
	50% {
		transform: rotate(360deg);
	}
}

#circle1{
stroke: var(--alpq-color-primary);
}

#circle2{
stroke: var(--alpq-color-secondary);
}

#circle3{
stroke: var(--alpq-color-primary);
}

#circle4{
stroke: var(--alpq-color-secondary);
}

.alpq-loaded{
    opacity: 0;
    display: none;
    transition: var(--alpq-transition)
}