.alpq-main-sidebar {
    @extend .alpq-bgColor-contrast;
    @extend .alpq-bgShadow;
    width: var(--alpq-space-xxxxxl);
    height: 100%;
    left: 0;
    top: var(--alpq-space-xxxxl);
    overflow: scroll;
    transition: var(--alpq-transition);
    z-index: 9;
}

.alpq-main-sidebar-item {
    position: relative;
    height: 80px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--alpq-color-background); 
}

.alpq-main-sidebar-item>span {
    height: var(--alpq-space-xl);
    @extend .alpq-margin-top-m;
    @extend .alpq-margin-bottom-xs;
}

.alpq-main-sidebar-item:hover {
    @extend .alpq-bgColor-highlight;
    transition: var(--alpq-transition);
}

.alpq-active::before {
    content: " ";
    position: absolute;
    width: 6px;
    height: 100%;
    left: 0;
    @extend .alpq-bgColor-secondary;
}